<article class="article">
    <div class="article-header mb-4 mt-5">
        <%- partial('post/date', {className: 'article-date', dateFormat: 'MMM D'}) %>
        <%- partial('post/title', {className: 'article-title'}) %>
    </div>
    <% if (post.excerpt){ %>
        <div class="article-excerpt text-gray-600 mb-3" itemprop="description">
            <%- post.excerpt %>
        </div>
    <% } %>
    
</article>