<% if (site.posts.length){ %>
    <div class="widget">
        <h3 class="widget-title"><%= __('widget.board') %></h3>
        <div class="widget-body">
            &nbsp;&nbsp;“笔记整理中......”
        </div>
    </div>
<% } %>
